.settings-menu {
    position: absolute;
    top: 80px;
    right: 25px;
    max-height: 0;
    width: 200px;
    overflow: hidden;
    background-color: var(--text-primary-color);
    box-shadow: 0 2px 10px var(--primary-text-color);
    z-index: 100;
    transition: max-height 0.4s ease-out;
}

.settings-menu-height {
    max-height: 450px;
}

.settings-menu-item a {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
    font-size: 1.8rem;
    box-shadow: 0 0 1px var(--primary-text-color);
    color: var(--primary-text-color);
    font-weight: bold;
}

.settings-menu .settings-menu-item:hover a {
    background-color: var(--default-primary-color);
    color: var(--text-primary-color);
}
